<div class="container wrap">
    <div class="error hugepad flex center-everything">
    	<article class="card wow">
    		<header class="card-header black-bg">
    			<ul class="icon-list">
    				<li class="icon">☠️</li>
    				<li class="icon">😭</li>
    				<li class="icon">💩</li>
    			</ul>
    			<h1 class="title">
    				404 Error
    			</h1>
    		</header>
    		<footer class="card-description entry-content">
    			<p class="theme-font">
    				<span class="big-copy">This is not the page, or card, you were looking for. Sorry! Please shuffle the deck and draw a new one. You can <a href="mailto:facilitatorcards@gmail.com" title="Email facilitatorcards@gmail.com">email us</a> if you need help.</span>
    			</p>
    		</footer>
    	</article>
    </div>
</div>
