<footer id="footer">
	<div id="footer-cta" class="flex">
		<div class="orange-to-red bigpad center-everything">
			<span class="huge bigpad wow">🦉</span>
			<h4 class="medium text-invert">
				Join our launch list.<br/> Get early bird pricing.
			</h4>
		</div>
		<div class="green-to-blue bigpad flex center-everything">
			<div class="wow bigpad">
	            <!-- Begin Mailchimp Signup Form -->
				<form action="https://cards.us20.list-manage.com/subscribe/post?u=7898c325cd5928bb54d6e3f5f&amp;id=0439e31edf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="flex mailing-list" target="_blank" novalidate>

	            	<input type="email" value="" placeholder="Enter a good email" name="EMAIL" class="required email" id="mce-EMAIL">

	                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7898c325cd5928bb54d6e3f5f_0439e31edf" tabindex="-1" value=""></div>
	                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">🚀</button>
	            </form>
	            <!--End mc_embed_signup-->
	        </div>
		</div>
	</div>

    <!-- <div class="container">
        <ul class="footer-contents">
            {{ range .Site.Params.footer }}
                {{ if ne .url false }}
                    <li class="footer-contents__item"><a href="{{ .url }}">{{ .name }}</a></li>
                {{ else }}
                    <li class="footer-contents__item">{{ .name }}</li>
                {{ end }}
            {{ end }}
        </ul>
        <p>Uncopyright {{ .Site.Author.name }}.</p>
    </div> -->
</footer>
