<header id="masthead">
    <a id="logo" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
        {{ .Site.Title }}
    </a>
    <nav class="nav center-everything" role="navigation">
        <span>Coming soon.</span>
        <a href="{{ .Site.Params.email_list }}" title="Join our list.">
            Join our list.
        </a>
        <!-- <ul class="menu center-everything">
            {{ range .Site.Menus.main }}
                <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul> -->
    </nav>
</header>
