<div class="wrap loop">
    {{ range .Paginator.Pages }}
    <article class="grid post wow">
        <div class="sidebar">
            {{ with .Params.featured_image }}<img class="featured-image" src="{{ . }}">{{ end }}
        </div>
        <aside class="meta">
            <dl>
                {{- if or .Params.author .Site.Params.author -}}
                <dt>Written by:</dt>
                <dd>
                    {{ .Params.author | default .Site.Params.author }}
                </dd>
                {{ end }}
                <dt>Posted on:</dt>
                <dd>
                    {{- .Date.Format "Jan 1, 2006" -}}
                </dd>
                <dt>Reading time:</dt>
                {{ if gt .ReadingTime 1 }}
                {{ .Scratch.Set "readingTime" "mins" }}
                {{ else }}
                {{ .Scratch.Set "readingTime" "min" }}
                {{ end }}
                <dd class="reading-time">~{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}</dd>
            </dl>
        </aside>
        <section class="content">
            <h2 class="big">{{ .Title }}</h2>
            {{ with .Params.description }}
            <p class="big-copy excerpt theme-font">{{ . }}</p>
            {{ end }}
        </section>

        <a class="absolute-link" href="{{ .URL }}"></a>
    </article>
    {{ end }}
    {{ partial "pagination.html" . }}
</div>
