#masthead {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: .8rem 1.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: $theme-font;
    z-index: 500;

    strong {
        margin: 0 1em;
    }

    @include mq('tablet-wide') {
        position:fixed;
        flex-wrap: nowrap;
        justify-content: space-between;
        width:100%;
        top:0;
        z-index:999;

        &.scrolled, &:hover {
            background: hsla(0,0,100%,.85);
            box-shadow: 0 0 2em 0 hsla(177%, 15%, 60%, .3);
        }

        &.scrolled {
            padding: .5rem 1.5rem;

            #logo {
                height:40px;
                width:300px;
            }
        }
    }
}

#main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @extend .rainbow-bg;
    margin: 0;
    padding: 2px;
    border-top: .1em solid hsla(177%, 15%, 60%, .3);

    ul {
        justify-content: space-between;
        width: 100%;
        text-align:center;
        align-items: stretch;

        li {
            align-items: stretch;
            display: flex;
        }

        .menu-cta {
            margin: 2px;
            display: flex;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .3em .8em;

                .fci {
                    margin-left: .2em;
                    font-size: 1.3em;
                }
            }
        }

        a {
            padding:.5em;
            font-weight: 600;
        }
    }

    @include mq('tablet'){
        position: relative;
        background: none;
        width: auto;
        padding: 0;
        border: none;

        ul a {
            font-weight: 400;
            padding: .5em;
        }

        .button {
            margin-left: .5em;
        }
    }
}

#logo {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-image: url('/img/fac-cards-logo-400.png');
    background-repeat:no-repeat;
    background-position: left;
    background-size:contain;
    display: flex;
    width: 300px;
    height: 40px;
    max-width:100%;

    @include mq('desktop') {
        background-image: url('/img/fac-cards-logo-800.png');
        width:600px;
        height:80px;
    }
}

.nav {
    display: flex;

    ul, li {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding:.6em;
        text-decoration: none;
    }
}

.breadcrumbs {
    font-family: $theme-font;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing: .04em;
    font-size: 1rem;
}
