.page-header {
    margin-top: 4vw;
    font-family: $theme-font;
}

.single {
    padding-top: 2em;
}

#single-card {

    .wrap {
        font-size:1.4em;
    }

    h1 {
        margin-top:0;
    }

    .aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin:0 1em 3em;

        @include mq('tablet-wide'){
            margin:0 auto 4em;
        }
    }

    .card-blurb {
        font-size: 1.4em;
        font-family: $theme-font;
        line-height:1.2;
    }

    .card-aside {
        font-size:6px;

        .card:hover {
            transition: .15s all;
            transform:scale(1.5);
        }
    }
}

/***

    HOME PAGE

***/

#home-hero {
    padding-bottom: 8em;
    margin-bottom: 0;

    .hero-heading h2 {
        margin-top:0;
    }

    .image-bg {
        align-self: flex-start;
    }

    .cta {
        margin: 1em auto 0;
        position:relative;
        z-index: 3;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;

        .mailing-list {
            margin:0 auto;
        }

        .big-copy {
            margin:0 1em;
        }
    }
}

#tools {
    padding-top: 4em;
    padding-bottom: 4em;
    margin-bottom: 0;

    .medium, .huge {
        text-shadow: 1px 1px 3px rgba(0,0,0,.7);
    }
}

#resources {
    padding-top: 6em;
    background-position:-150px -120px;

    @include mq('tablet'){
        background-position:-50px -50px;
    }

    .image-bg {
        margin:-2em auto;
    }
}
