.single {
    .wrap {
        font-size:1.4em;
    }

    .card {
        margin:0 auto 4em;
    }

    .card-aside {
        font-size:6px;

        .card:hover {
            transition: .15s all;
            transform:scale(1.5);
        }
    }
}

/***

    HOME PAGE

***/

#home-hero {


    .wrap {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-text {
        h2 {
            font-size:calc(2.8em + 1vw);
            margin:.5em auto;
            text-align:center;
        }

    }
}
