body {
    color: #001e1d;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrap {
    padding-left: 1em;
    padding-right: 1em;
    margin:0 auto;

    @include mq('tablet-wide'){
        padding-left: 4em;
        padding-right: 4em;
    }
}

.narrow {
    max-width:720px;
    margin-left:auto;
    margin-right:auto;
}

.icon-list {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;

    .icon {
        padding:0;
        width:1em;
        height:1em;
        margin:0;
        display:block;

        svg {
            width:1em;
            height:1em;
        }
    }
}

.hero {

    .wrap {
        display:flex;
        align-self:stretch;
        justify-content: space-evenly;
        align-items:center;
        flex-direction:column;
        max-width:1200px;
    }

    .hero-heading, p, .hero-blurb, .image-bg {
        max-width:90vw;
        margin-left:auto;
        margin-right:auto;
    }

    .hero-heading {
        position:relative;
        z-index:2;
        text-align:center;
        .huge {
            margin:1em auto .5em;
        }
    }

    p {
        max-width: 28em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        font-family:$theme-font;
    }

    .hero-blurb {
        position:relative;
        z-index:2;
        margin:-20% auto 1em;

        p {
            background:hsla(0, 0, 100%, .8);
            padding:1.5em;
            border-radius:1.5em;
        }
    }

    .image-bg {
        position:relative;
        z-index:1;
        width: 100%;

        svg, img {
            display:block;
            width:100%;
            height:auto;
            margin:0 auto;
        }

    }

    .cta {
        position:relative;
        z-index:3;
        align-self: center;
        font-family: $theme-font;
    }
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 4em;

    .flex-list-item {
        padding:4em 4em 0;

        &:nth-of-type(even){
            animation: slideInUp 1s ease-out;
        }

        .icon {

            svg {
                width:calc(1.6em + 1vw);
                height:calc(1.6em + 1vw);
                margin:10px;
            }
        }

        h3, h4 {
            margin:10px auto;
        }

        p {
            max-width:16em;
        }

        @include mq('tablet'){
            max-width:50%;
        }
    }
}
