body {
    color: #001e1d;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrap {
    padding:0 1em;
    margin:0 auto;
}

.narrow {
    max-width:720px;
    margin-left:auto;
    margin-right:auto;
}

.icon-list {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;

    .icon {
        padding:0;
        width:1em;
        height:1em;
        margin:0;
        display:block;

        svg {
            width:1em;
            height:1em;
        }
    }
}

.hero {
    min-height:100vh;
}
