// .kind-section.type-blog {

// }

.featured-image {
    max-width:100%;
    height:auto;
    border-radius: 1.5em;
}

.loop {

    .post {
        border-radius: 1.5em;
        padding: 1em;
        overflow: hidden;
        position:relative;
        margin-top: 4em;

        .featured-image {
            margin-bottom: 2rem;
        }

        h2 {
            margin: 0 auto 2rem;
        }

        .absolute-link {
            border-radius: 1.5em;
        }
        
        .absolute-link:hover, .absolute-link:focus {
            background: hsla(177%, 69%, 55%, .15);
            background-image: linear-gradient(to bottom right, hsla(177%, 69%, 55%, .15), hsla(124%, 45%, 65%, .15));
        }

        .meta {
            margin-top: 0;
        }
    }
}

#single-blog {
    background-image:url(../img/doodles/fc-doodles-cards.jpg);
    background-position: calc(100% + 150px) top;
    background-size: 300px auto;

    @include mq('tablet'){
        background-size: 400px auto;
    }

    @include mq('desktop'){
        background-size: 450px auto;
        background-position: calc(100% + 50px) top;
    }

    p, ul, ol {
        max-width:700px;
    }

    #blurb {
        grid-column: sidebar / span 2;
        grid-row: 1;
        font-family: $theme-font;

        p {
            margin: 2vh 0;
        }
    }

    #featured-image {
        grid-row: 2;
        position: relative;

        figure {
            margin: 0;
            padding: 0;
            display: block;
            position: relative;
        }

        .featured-image {
            width: 100%;
        }

        .caption {
            font-size: .8rem;
            line-height: 2;
            margin-left: 1.5em;
        }

        @include mq('tablet-wide'){
            position:relative;

            figure {
                margin-top: 1.5em;
                height: 33.3333vw;
            }

            .featured-image {
                position:absolute;
                max-width:33.333vw;
                width: 33.333vw;
                z-index:0;
            }

            &.with-caption {

                .caption {
                    position: absolute;
                    bottom: -2em;
                }
            }
        }

    }

    .single-title {
        grid-row: 2;

        @include mq('tablet-wide'){
            align-self: flex-start;
            z-index: 5;
            position: relative;
            background:hsla(0,0,100%,.75);
            padding-left:2vw;
            border-radius:1.5em;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            margin-bottom:4em;
        }

        h1 {
            margin: 4vh 0;
        }
    }

    .blog-aside {
        grid-row: 3;
    }

    #body {
        @include mq('tablet-wide'){
            z-index: 5;
            position: relative;
            background:hsla(0,0,100%,.75);
            padding-left:2vw;
            border-radius:1.5em;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

        p:first-of-type {
            @extend .big-copy;
        }
    }

}

.meta {
    float:right;
    margin: 1.2em 0 2em 2em;

    @include mq('tablet-wide'){
        float: none;
        margin: 1.2em auto 0;
    }

    dl {
        margin:0;

        dt {
            opacity:.6;
            font-size:1rem;
            padding:0;
            margin:0;
        }

        dd {
            margin:0;
            padding:0;
            font-family:$theme-font;
        }

        dd + dt {
            margin-top:1em;
        }
    }
}

.blog-footer {
    margin-top: 4em;

    .card {
        margin: 0 auto;

        .card-description {
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;
            display:flex;
        }
    }

    .sidebar, .content {
        margin-bottom: 2em;
    }

    .content {
        grid-column: content / span 2;
    }
}

.type-blog {
    .content {
        h2 {
            margin-top: 1em;
            padding-top: .7em;
            position: relative;
            
            &:before {
                top: 0px;
                left: 0px;
                height: .15em;
                width: 33.33%;
                content: '';
                background: $blue;
                display: block;
                position: absolute;
                border-radius: .03em;
            }
        }
    }
}
