
/* Links */

a, a:visited {
    text-decoration-color: $blue;
    transition: all .2s ease-in-out;

    &:hover, &:focus {
        text-decoration-color: $red;
    }
}


.biglink {
    background:none;
    font-weight:bold;
    font-size:.8em;
    letter-spacing:.02em;
    font-family:$theme-font;
    max-width:24em;
    display:inline-block;

    &:hover {
        color:$blue;
    }
}

/* Buttons */

.button {
    padding:1.2em 1.4em;
    background:$grey-900;
    border-radius: .3em;
    border-style: solid;
    border-width:.2em;
    border-bottom-color: $blue;
    border-right-color: $green;
    border-top-color: $orange;
    border-left-color: $red;
    color: white;
    display: inline-block;
    font-weight:900;
    font-family: $theme-font;
    line-height:1.2;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    transition: all .2s ease-out;


    /* Button Animation */

    &:hover, &:focus {
        transform:translateY(-.2em);
        background: black;
        cursor: pointer;
    }

    &:active {

        span {
            opacity:0;
            border-radius:3em;
        }

        &:after {
            opacity:0;
        }
        &:before {
            background-size:auto 100%;
        }
    }

    & + .button {
        margin-left:1em;
    }
}
