#footer {
    margin-top: calc(4em + 4vw);
}

#footer-cta {
    flex-direction: column;

    @include mq('tablet'){
        flex-direction:row;
    }

    .medium {
        margin:0;
        text-align: center;
        text-shadow: .15em .15em .1em $red;

        @include mq('tablet-wide'){
            text-align: left;
            padding-right:40px;
        }
    }

    .orange-to-red {
        flex-direction: column;
        flex-grow: 1;

        @include mq('tablet-wide'){
            flex-direction: row;
        }
    }

    .mailing-list {
        input[type=email]{
            background:hsla(0,0,100%,.95);
        }
    }
}

#by {
    position:relative;
    @include mq('desktop'){
        &:after {
            display:block;
            z-index:5;
            position:absolute;
            background-image:url('../img/doodles/fc-doodle-arrow-down-red.png');
            background-repeat: no-repeat;
            background-size: contain;
            width:150px;
            height:188px;
            content:'';
            bottom:-140px;
            left:50vw;
        }
    }
}

#uncopyright {
    color: #E0E0E0;
    a {
        color: white;
    }
    @include mq('desktop'){
        display:flex;
        justify-content: space-between;

        p {
            margin: 0;
        }

        #card-license {
            margin-top: calc(280px + .2vw);
            padding-left:2em;
            text-align:right;
        }
    }
}
