#masthead {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @include mq('tablet-wide') {
        justify-content: space-between;
        position:fixed;
        width:100%;
        top:0;
        z-index:999;
        transition:all .4s ease-out;

        &.scrolled, &:hover {
            background: hsla(0,0,100%,.85);
            box-shadow: 0 0 2em 0 hsla(177%, 15%, 60%, .3);
        }

        &.scrolled {
            #logo {
                height:40px;
                width:300px;
            }

            #logo, .nav {
                margin:.5rem 1.5rem;
            }

        }
    }
}

#logo {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-image: url('/img/fac-cards-logo-400.png');
    background-repeat:no-repeat;
    background-position: left;
    background-size:contain;
    display: flex;
    width: 300px;
    height: 40px;
    max-width:100%;
    margin:.8rem 1.5rem;

    @include mq('tablet-wide') {
        background-image: url('/img/fac-cards-logo-800.png');
        width:600px;
        height:80px;
    }
}

.nav {
    display: flex;
    margin:.8rem 1.5rem;
    ul, li {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding:.6em;
    }
}
