#single-card {
    margin-top: 2em;
    padding-top:4em;

    @include mq('tablet-wide') {
        margin-top: 120px;
    }

    .wrap {
        font-size:1.4em;
    }

    h1 {
        margin-top:0;
    }

    .aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin:0 1em 3em;

        @include mq('tablet-wide'){
            margin:0 auto 4em;
        }
    }

    .card-blurb {
        font-size: 1.4em;
        font-family: $theme-font;
        line-height:1.2;
    }

    .card-aside {
        font-size:6px;

        .card:hover {
            transition: .15s all;
            transform:scale(1.5);
        }
    }
}

/***

    HOME PAGE

***/

#home-hero {
    margin-bottom: 4em;

    @include mq('tablet-wide') {
        margin-top:calc(140px + 4vh);
    }

    .hero-heading h2 {
        margin-top:0;
    }

    .image-bg {
        align-self: flex-start;
    }

    .cta {
        margin: 1em auto 0;
        position:relative;
        z-index: 3;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;

        .mailing-list {
            margin:0 auto;
        }

        .big-copy {
            margin:0 1em;
        }
    }
}

#home-gallery {
    .image-bg {
        margin:-2em auto;
    }
}
