/* Layout Classes */


.smallpad {
    padding: 5px;
}
.pad { padding:2.5vw; }

.bigpad { padding:5vw; }

.hugepad { padding: 7.5vw }

.center-everything {
    display:flex;
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.overflow-visible { overflow:visible !important }

.absolute-link {
    position:absolute;
    z-index:100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Branding Classes */

.rounded {
    border-radius:$borad;
}

/* Color Classes */

.red-bg {background-color:$red;}
.blue-bg {background-color:$blue;}
.purple-bg {background-color:$purple;}
.green-bg {background-color:$green;}
.orange-bg {background-color:$orange;}
.grey-900-bg {background-color:$grey-900}
.grey-100-bg {background-color:$grey-100}
.black-bg { background-color: black; }


.red { color: $red; }
.orange { color: $orange; }
.green { color: $green; }
.blue { color: $blue; }
.grey-500 { color: $grey-500; }
.black { color: black; }
.white { color: white; }
.grey-900 {color:$grey-900}
.grey-100 {color:$grey-100}


.orange-to-red {
	background:linear-gradient(to bottom right, $orange, $red);
}

.green-to-blue {
	background:linear-gradient(to bottom right, $green, $blue);
}

.text-invert {
    color: hsla(0,0,100%,.93);

    a {
        color: white;
    }
}

.text-shadow {
    text-shadow: .05em .05em .05em hsla(0,0,0,.2);
}
.red-text-shadow {
    text-shadow: .15em .15em .1em $red;
}

.rainbow-bg {
    background: $blue;
    background: linear-gradient(to right, $blue, $green, $orange, $red);
}

.rainbow-text {
    background: linear-gradient(to right, $blue, $green, $orange, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-bottom: .15em;
}


/* Doodle BG Classes */

.doodle-blue,
.doodle-green,
.doodle-yellow{
    background-repeat:no-repeat;
    background-size: 400px auto;
}

.doodle-blue {
    padding-bottom: 4em;
    background-image:url(../img/doodles/fc-doodles-color-blue.jpg);
    background-position:-200px bottom;

    @include mq('tablet'){
        background-position:-50px bottom;
    }
}

.doodle-green {
    padding-bottom: 4em;
    background-image:url(../img/doodles/fc-doodles-color-green.jpg);
    background-position:calc(100% + 200px) bottom;

    @include mq('tablet'){
        background-position:calc(100% + 50px) bottom;
    }
}

.doodle-yellow {
    padding-top: 4em;
    background-image:url(../img/doodles/fc-doodles-color-yellow.jpg);
    background-position:calc(100% + 200px) top;

    @include mq('tablet'){
        background-position:calc(100% + 50px) top;
    }
}


.doodle-red {
    background-image:url(../img/doodles/fc-doodles-color-red.jpg);
    background-size: 350px auto;
    background-position:-175px top;

    @include mq('tablet'){
        background-position:-50px top;
    }
}

/* Media */

.mailing-list {
    border-radius:1em;

    input{
        background:#eee;
        border:none;
        border-radius:1em 0 0 1em;
        padding:0 1em;
        box-shadow:inset 0 0.1em 0.4em 0 rgba(0,0,0,.15);
        width:12em;
    }

    button {
        border-radius: 0 1em 1em 0;
        box-shadow:none;
        border:none;
        text-align:center;

        &:hover, &:focus {
            transform:none;
            box-shadow: inset 0 0 .7em .1em $red;
        }
    }
}
