/* Muted Off True */

$red: hsla(11%, 100%, 69%, 1);
$orange: hsla(32%, 100%, 70%, 1);
$green: hsla(124%, 45%, 65%, 1);
$blue: hsla(177%, 69%, 55%, 1);

$grey-100: 	hsla(177%, 5%, 94%, 1);
$grey-500: 	hsla(177%, 8%, 55%, 1);
$grey-900: 	hsla(177%, 10%, 26%, 1);

// Candy Colors
// $red:           #da2e92;
// $orange:        #f8991d;
// $green:         #5cba47;
// $blue:          #48a4dc;
$purple:        #8748dc;

/* Typography Variables */

@import url("https://use.typekit.net/ylq7fed.css");

$theme-font:    brandon-grotesque, sans-serif;

/* Brand Variables */

$borad:    1em;
