{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <header class="page-title wrap text-center">
        <h1 class="huge rainbow-text">The Facilitator Cards Blog</h1>
        <p class="big-copy type-wrap entry-content">Welcome! Here you will find posts about <a href="https://www.facilitator.cards/categories/resources/" title="Posts about Facilitation and Training Resources">Facilitation &amp; Training Resources</a>, <a href="https://www.facilitator.cards/categories/using-the-cards/" title="Blog Posts About Using Facilitator Cards">Using Facilitator Cards</a> (how-tos, theory, sequences, etc.), and <a href="https://www.facilitator.cards/categories/about-the-cards/" title="Blog Posts About the Cards">About the Cards</a> themselves (how they're made, how they came to be, expansions and updates, etc.).</p>
    </header>
    {{ partial "list.html" . }}
{{ end }}
