{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section id="single-blog" class="single grid wrap">

    <aside id="blurb" class="sidebar">
        <nav class="breadcrumbs" aria-label="Breadcrumb">
            <a href="{{ .Site.BaseURL }}/blog/" title="Blog">blog</a>
            {{- with .Params.categories }} / <a class="primary-category" href="{{ `/categories/` }}{{ . | urlize }}/" title="">{{ . }}</a>{{ end }}
        </nav>
        {{ with .Params.description }}
        <p class="big-copy excerpt">{{ . }}</p>
        {{ end }}
        {{ range .Params.tags }}
        <a class="grey-700" href="tags/{{ . | urlize }}">#{{ . }}</a>
        {{ end }}
    </aside>

    <header class="single-title content">
        <h1 class="wow">
            {{ .Title }}
        </h1>
    </header>

    <div id="featured-image" class="sidebar {{ with .Params.photo_cred }}with-caption{{ end }}">
        {{ with .Params.featured_image }}<figure><img class="featured-image" src="{{ . }}">{{ end }}{{- with .Params.photo_cred }}<figcaption class="caption">Photo by {{ . }}</figcaption></figure>{{ end -}}
    </div>

    <aside class="meta blog-aside flex flex-col">
        <dl>
            {{- if .Params.author -}}
            <dt>Written by:</dt>
            <dd>
                {{ .Params.author }}
            </dd>
            {{ end }}
            <dt>Posted on:</dt>
            <dd>
                {{- .Date.Format "Jan 2, 2006" -}}
            </dd>
            <dt>Reading time:</dt>
            {{ if gt .ReadingTime 1 }}
            {{ .Scratch.Set "readingTime" "mins" }}
            {{ else }}
            {{ .Scratch.Set "readingTime" "min" }}
            {{ end }}
            <dd class="reading-time">~{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}</dd>
        </dl>
    </aside>

    <main id="body" class="content entry-content">
        {{ .Content }}
        {{ if not .Params.disable_comments }}
        <div class="comments-link type-wrap">
            <strong class="theme-font"><a href="{{ .Permalink }}/#comments">Jump to Comments</a> 👇 </strong>
        </div>
        {{ end }}
        {{ if .Params.facebook_discussion }}
        <hr/>
        <div class="pad rounded type-wrap grey-100-bg">
            <strong><a href="{{ .Params.facebook_discussion }}" target="_blank" rel="noopener noreferrer">Discuss this post on Facebook</a></strong> with other Facilitation geeks. The author, {{ .Params.author }}, would love to hear what you think there.<br/>

            <a class="biglink" style="margin-top:.5em;" href="{{ .Params.facebook_discussion }}" target="_blank" rel="noopener noreferrer">Facebook Discussion 💬</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/groups/fcfacilitators" target="_blank" rel="noopener noreferrer" class="biglink" style="margin-top:.5em;">Join our Group 🤓</a>
        </a>
        {{ end }}
    </main>
</section>

<section class="blog-footer wrap grid doodle-green">

    {{- if .Params.author -}}
    <aside class="sidebar card wow">
        <header class="card-header grey-900-bg">
            <ul class="icon-list">
                <li class="icon group-size">
    				<i class="fci fci-individuals"></i>
    			</li>
                <li class="icon category">
    				<i class="fci fci-emotion"></i>
    			</li>
                <li class="icon props">
    				<i class="fci fci-writing-utensils"></i>
    			</li>
    		</ul>
            <h3 class="title">
                by {{ .Params.author }}
            </h3>
        </header>
        <footer class="card-description">
            <p class="theme-font">
                <span class="big-copy">
                    Subscribe to <strong class="grey-900">The Facilitator Cards Blog</strong> for more posts by this author and other facilitators, trainers, and educators.
                </span>
            </p>
        </footer>
    </aside>
    {{ end }}
    <div class="content wow wow-slow hugepad green-to-blue rounded flex flex-col text-center center-everything">
        <h3 class="text-invert no-margin text-shadow">Subscribe to the Blog</h3>
        <p class="big-copy theme-font">We're on social media, but &mdash; call us old fashioned &mdash; we prefer sending and receiving electronic mail.</p>
        <div class="cta">
            <a class="button white-bg" title="Subscribe to the Facilitator Cards Blog via Email" target="_blank" rel="noopener noreferrer"data-formkit-toggle="5450c9b287" href="https://facilitatorcards.ck.page/5450c9b287">Get Email Updates</a> <a class="button tertiary" title="Subscribe to the Facilitator Cards Blog" target="_blank" rel="noopener noreferrer" href="https://www.facilitator.cards/blog/index.xml"><span>RSS Feed</span></a>
        </div>
        <script async data-uid="5450c9b287" src="https://facilitatorcards.ck.page/5450c9b287/index.js"></script>
    </div>
</section>
{{ if not .Params.disable_comments }}
<style>
    .just-comments.FCtheme {
        --border-color: #d7e2e2;
        --primary-bg-color: #fff;
        --secondary-bg-color: #d7e2e2;
        --secondary-bg-color-lighter: #ebf1f1;
        --primary-color: #3ddbd4;
        --primary-button-color:#001e1d;
        --primary-color-lighter:  #272e2e;
        --primary-color-light: #272e2e;
        --primary-text-color: #001e1d;
        --secondary-text-color: #5b6362;
        --outline-style: 2px var(--primary-color) dashed;
    }
  </style>
<section id="comments" class="doodle-blue">
    <h2 class="text-center grey-500">Have something to add?</h2>
    <div 
        class="just-comments FCtheme type-wrap" 
        data-apikey="46245c50-2d0d-414a-bdf4-a726bf8dfe5b"
        data-allowguests="true"
        data-disableseo="true"
        data-hideattribution="true"
        data-enableemailnotifications="true"
        data-hidenocommentstext="true"
    ></div>
    <script async src="https://just-comments.com/w2.js"></script>
</section>
{{ end }}
{{ end }}
