{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <header class="page-header text-center wrap">
        <h1 class="huge">Preview the Cards</h1>
        <p class="big-copy type-wrap">
            The plan is for the deck to ship with 60 dry-erase-able, durable, so-thick-you'll-hand-them-to-your-friends-and-say-"feel this" cards. For now, you'll have to settle for a digital preview of just a few of them.
        </p>
        <p class="big-copy type-wrap">
            Click a card to read about it. <a href="#launch-list">Join our launch list</a> to get early bird pricing when we start making the things.
        </p>
    </header>
    {{ partial "card-list.html" . }}
{{ end }}
