{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section id="single-card" class="single grid wrap">
    <aside class="sidebar">
        {{ partial "card.html" . }}
    </aside>
    <header class="content">
        <h1>
            {{ .Title }}
        </h1>
        <p class="card-blurb">
            {{ .Params.description }}
        </p>
    </header>
    <aside class="card-aside meta flex flex-col">

    </aside>

    <main class="content">
        {{ .Content }}
    </main>


</section>
{{ end }}
