{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <header class="page-header text-center wrap">
        <h1 class="huge rainbow-text">Facilitator.Cards/Blog</h1>
        <p class="big-copy type-wrap entry-content">Welcome! Here you will find posts <a href="https://www.facilitator.cards/categories/about-the-cards/" title="Blog Posts About the Cards">about the Facilitator Cards</a> (how they're made, how they came to be, expansions and updates), <a href="https://www.facilitator.cards/categories/using-the-cards/" title="Blog Posts About Using Facilitator Cards">Using the Cards</a>, and other <a href="https://www.facilitator.cards/categories/resources/" title="Posts about Facilitation and Training Resources">Facilitation &amp; Training Resources</a>.</p>
    </header>
    {{ partial "list.html" . }}
{{ end }}
