{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section id="single-blog" class="single grid wrap">

    <aside id="blurb" class="sidebar">
        <nav class="breadcrumbs" aria-label="Breadcrumb">
            <a href="{{ .Site.BaseURL }}/blog/" title="Blog">blog</a>
            {{- with .Params.categories }} / <a class="primary-category" href="{{ `/categories/` }}{{ . | urlize }}/" title="">{{ . }}</a>{{ end }}
        </nav>
        {{ with .Params.description }}
        <p class="big-copy excerpt">{{ . }}</p>
        {{ end }}
    </aside>

    <header class="single-title content">
        <h1 class="wow">
            {{ .Title }}
        </h1>
    </header>

    <div id="featured-image" class="sidebar {{ with .Params.photo_cred }}with-caption{{ end }}">
        {{ with .Params.featured_image }}<figure><img class="featured-image" src="{{ . }}">{{ end }}{{- with .Params.photo_cred }}<figcaption class="caption">Photo by {{ . }}</figcaption></figure>{{ end -}}
    </div>

    <aside class="meta blog-aside flex flex-col">
        <dl>
            {{- if .Params.author -}}
            <dt>Written by:</dt>
            <dd>
                {{ .Params.author }}
            </dd>
            {{ end }}
            <dt>Posted on:</dt>
            <dd>
                {{- .Date.Format "Jan 2, 2006" -}}
            </dd>
            <dt>Reading time:</dt>
            {{ if gt .ReadingTime 1 }}
            {{ .Scratch.Set "readingTime" "mins" }}
            {{ else }}
            {{ .Scratch.Set "readingTime" "min" }}
            {{ end }}
            <dd class="reading-time">~{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}</dd>
        </dl>
    </aside>

    <main id="body" class="content entry-content">
        {{ .Content }}
    </main>

</section>

<footer class="blog-footer wrap grid  doodle-green">

    {{- if .Params.author -}}
    <aside class="sidebar card wow">
        <header class="card-header grey-900-bg">
            <ul class="icon-list">
                <li class="icon group-size">
    				<i class="fci fci-individual"></i>
    			</li>
                <li class="icon category">
    				<i class="fci fci-emotion"></i>
    			</li>
                <li class="icon props">
    				<i class="fci fci-writing-utensils"></i>
    			</li>
    		</ul>
            <h3 class="title">
                by {{ .Params.author }}
            </h3>
        </header>
        <footer class="card-description">
            <p class="theme-font">
                <span class="medium">
                    Subscribe to <strong class="grey-900">The Facilitator Cards Blog</strong> for more posts by this author and other facilitators, trainers, and educators.
                </span>
            </p>
        </footer>
    </aside>
    {{ end }}
    <div class="content wow wow-slow hugepad green-to-blue rounded flex flex-col text-center center-everything">
        <h3 class="text-invert no-margin text-shadow">Subscribe to the Blog</h3>
        <p class="big-copy theme-font">We're not on social media. Call us old fashioned, but we prefer sending and receiving electronic mail.</p>
        <div class="cta">
            <a class="button white-bg" title="Subscribe to the Facilitator Cards Blog via Email" target="_blank" rel="noopener noreferrer" href="https://feedburner.google.com/fb/a/mailverify?uri=facilitatorcardsblog&amp;loc=en_US">Get Email Updates</a> <a class="button tertiary" title="Subscribe to the Facilitator Cards Blog" target="_blank" rel="noopener noreferrer" href="https://www.facilitator.cards/blog/index.xml"><span>RSS Feed</span></a>
        </div>
    </div>
</footer>

{{ end }}
