<div class="front">
	<div class="card {{ .Params.for | urlize }}">
		<header class="card-header">
		{{ if eq .Params.for "mystery" }}
		{{ else }}
			<ul class="icon-list">
				<li class="icon group-size">
					<i class="fci fci-{{ .Params.group | urlize }}"></i>
				</li>
				<li class="icon category">
					<i class="fci fci-{{ .Params.for | urlize }}"></i>
				</li>
				<li class="icon props">
					{{ with .Params.prop_1 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
 					{{ with .Params.prop_2 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
 					{{ with .Params.prop_3 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
				</li>
			</ul>
			<span class="title">
				{{ if not (eq .Params.group "blank") }}
					{{ .Title }}
				{{ end }}
			</span>			
		{{ end }}
		</header>
		<footer class="card-description">
		</footer>
	</div>
</div>
<div class="back">
	<div class="card {{ .Params.for | urlize }}">
    <header class="card-header">
		{{ if eq .Params.for "mystery" }}
		<span class="theme-font">This card will be revealed during our Kickstarter. Click for deets.</span>
		{{ else }}
			<ul class="icon-list">
				<li class="icon group-size">
					<i class="fci fci-{{ .Params.group | urlize }}"></i>
				</li>
				<li class="icon category">
					<i class="fci fci-{{ .Params.for | urlize }}"></i>
				</li>
				<li class="icon props">
					{{ with .Params.prop_1 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
					{{ with .Params.prop_2 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
					{{ with .Params.prop_3 }}<i class="fci fci-{{ . | urlize }}"></i>{{ end }}
				</li>
			</ul>
			<span class="title">
				{{ if not (eq .Params.group "blank") }}
					{{ .Title }}
				{{ end }}
			</span>
		{{ end }}
    </header>
	<footer class="card-description">
		{{ if not (eq .Params.group "blank") }}
		<p>{{ .Params.explanation }}</p>
		{{ end }}
	</footer>
</div>
	
</div>

