<footer id="footer">
	<section id="footer-cta" class="flex">
		<div class="orange-to-red hugepad center-everything">
			<span class="huge wow">🦉</span>
			<h4 class="big red-text-shadow text-invert">
				<a href="https://gum.co/QYvjm" target="_blank" rel="noopener noreferrer" title="preorder now">Preorder now</a>. Get Early Bird Special Pricing.
			</h4>
		</div>
		<div id="launch-list" class="green-to-blue hugepad flex center-everything">
			<div class="wow wow-slow">
	            <!-- Begin Mailchimp Signup Form
				<form action="https://cards.us20.list-manage.com/subscribe/post?u=7898c325cd5928bb54d6e3f5f&amp;id=0439e31edf" method="post" name="mc-embedded-subscribe-form" class="flex mailing-list" target="_blank" rel="noopener noreferrer" novalidate>

	            	<input type="email" aria-label="Enter your email to subscribe" value="" placeholder="Enter a good email" name="EMAIL">

	                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7898c325cd5928bb54d6e3f5f_0439e31edf" tabindex="-1" value=""></div>
	                <button type="submit" value="Subscribe" name="subscribe" class="button">🚀</button>
	            </form>
				 -->

				<a class="button" href="https://gum.co/QYvjm" target="_blank" rel="noopener noreferrer" title="Preorder Facilitator Cards Now">Preorder Now 🚀</a>
				</div>	

		</div>
	</section>
	<section id="by" class="hugepad theme-font">
		<h3 class="big">
			Facilitator Cards were created
		</h3>
		<p class="medium">
			by the same two humans behind <a target="_blank" rel="noopener noreferrer" href="http://www.facilitating.xyz" title="FacilitatingXYZ">Facilitating.XYZ</a> (a free online resource for all facilitators), <a target="_blank" rel="noopener noreferrer" href="http://www.facilitationmagic.com">Unlocking the Magic of Facilitation</a> (book about key facilitator concepts), &amp; <a target="_blank" rel="noopener noreferrer" href="https://www.thesafezoneproject.com" title="The Safe Zone Project">The Safe Zone Project</a> (free curriculum &amp; train-the-trainer retreat guide).
		</p>
	</section>
	<section id="uncopyright" class="hugepad grey-900-bg">
		<div class="type-wrap theme-font">
			<h3 class="big text-shadow">
				& offered in the Gift
			</h3>
			<p class="medium">
				like everything else we make. The ideas, processing tools<strong class="red">*</strong>, and resources we've created &amp; shared on this site are
				<a target="_blank" rel="noopener noreferrer" rel="license" href="https://uncopyright.org/notice/?uwn=www.facilitator.cards&?uwc=Sam+Killermann+%26+Meg+Bolger" title="View Uncopyright Notice">
					uncopyrighted
				</a> &amp;
				<a target="_blank" rel="noopener noreferrer" href="https://github.com/killermann/facilitator-cards" title="View Source Code">open-source</a>. We release any rights we have, and you're empowered to share, modify, reprint, and improve &mdash; no permission needed, it's yours, our <a href="https://en.wikipedia.org/wiki/Gift_economy" title="Wikipedia Article about Gift Economy" target="_blank" rel="noopener noreferrer">gift</a> to you.
			</p>
		</div>
		<div id="card-license" class="flex type-wrap center-everything">
			<p>
				 <strong class="red">*</strong>Most of these processes are ways facilitators have been engaging with groups for decades, learning from one another &amp; improving collectively, so they're hard to pin down to one "creator." We'll denote when a process has IP restrictions, and work to honor lineages of ideas. Want to help? Email <a target="_blank" rel="noopener noreferrer" href="mailto:hello@facilitator.cards">hello@facilitator.cards</a> with your story of a particular process. 
			</p>
		</div>
	</section>
	<section id="footer-menu">
		<ul class="theme-font hugepad">
			<li>
				<a class="teal" href="https://gum.co/QYvjm" target="_blank" rel="noopener noreferrer">Preorder Your Deck Now</a>
			</li>
			<li>
				<a href="https://facilitatorcards.ck.page/4c87ee0944" title="Subscribe for Emails">Subscribe for Emails</a>
			</li>
			<li>
				<a href="https://drive.google.com/drive/folders/1ZTLGwvC-b0uzJdx01maE2rAidJV7GvVc?usp=sharing" title="Download Press Kit">Download Press Kit</a>
			</li>
			<li>
				<a href="/faq" title="FAQ">Frequently Asked Questions</a>
			</li>
		</ul>
		<ul class="theme-font hugepad">
			<li>
				<a href="/story" title="Our Story">Our Story</a>
			</li>
			<li>
				<a href="/cards" title="About the Cards">The Cards</a>
			</li>
			<li>
				<a href="/how" title="How to Use Them">How to Use Them</a>
			</li>
			<li>
				<a href="/blog" title="Blog">Read the Blog</a>
			</li>
		</ul>
		<ul class="theme-font hugepad">
			<li>
				<a href="/contact" title="Our Story">Contact Us</a>
			</li>
			<li>
				<a href="/terms" title="Terms">Terms</a>
			</li>
			<li>
				<a href="/privacy" title="Privacy">Privacy</a>
			</li>
		</ul>
	</section>
	<section class="theme-font pad text-center">
		<p>Facilitator Cards were developed in sunny Austin &amp; rainy Seattle. You can find us on <a href="https://www.facebook.com/facilitatorcards" title="Facebook">Facebook</a>, <a href="https://www.instagram.com/facilitatorcards" title="Instagram">Instagram</a>, & <a href="https://www.twitter.com/facilitatorcard" title="Twitter">Twitter</a>.</p>
		<p>Facilitator Cards, PBC<br/> P.O. Box 688412<br/> Austin, TX 78768</p>
	</section>
</footer>
