<div class="banner-notice text-center theme-font">
    <span><strong>Free shipping</strong> on all domestic orders! (And we’ll split the cost with you on international shipping.)</span>
</div>
<header id="masthead">
    <div id="logo-wrap">
        <a id="logo" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
            {{ .Site.Title }}
        </a>
    </div>
    <nav id="main-nav" class="nav flex" role="navigation">
        <div class="c-dropdown">
            <button type="button" id="dropdown-trigger" class="c-btn u-p" data-component="dropdown" data-target="dropdown-menu">
                Menu
            </button>
            <ul id="dropdown-menu" class="menu c-dropdown__menu" aria-hidden="true">
                {{ range .Site.Menus.main }}
                    <li class="c-dropdown__link {{ .Name }}"><a href="{{ .URL }}" data-focus>{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="menu-cta">
            <a href="{{ .Params.cta_link | default .Site.Params.cta_link }}">
                {{ .Params.cta_text | default .Site.Params.cta_text }}
            </a>
        </div>
    </nav>
</header>