<header id="masthead">
    <a id="logo" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
        {{ .Site.Title }}
    </a>
    <strong><a class="red" href="https://www.kickstarter.com/projects/facilitatorcards/facilitator-cards" target="_blank" rel="noopener noreferrer">Kickstarter begins <span style="display:inline-block">March 1</span></a></strong>
    <nav id="main-nav" class="nav center-everything" role="navigation">
        <ul class="menu center-everything">
            {{ range .Site.Menus.main }}
                <li class="menu-item"><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
            <li class="menu-cta">
                <a class="button" href="{{ .Site.Params.email_list }}" title="Get Early Bird Pricing">
                     Early Bird
                </a>
            </li>
        </ul>
    </nav>
</header>
