
<header id="masthead">
    <a id="logo" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
        {{ .Site.Title }}
    </a>
    <!-- <strong><a class="red" href="https://www.kickstarter.com/projects/facilitatorcards/facilitator-cards?utm_source=HeaderText&utm_medium=FCSite&utm_campaign=Kickstarter" target="_blank" rel="noopener noreferrer">Kickstarter funded!</a></strong> -->
    <nav id="main-nav" class="nav flex" role="navigation">
        <div class="c-dropdown">
            <button type="button" id="dropdown-trigger" class="c-btn u-p" data-component="dropdown" data-target="dropdown-menu">
                Menu
            </button>
            <ul id="dropdown-menu" class="menu c-dropdown__menu" aria-hidden="true">
                {{ range .Site.Menus.main }}
                    <li class="c-dropdown__link {{ .Name }}"><a href="{{ .URL }}" data-focus>{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="menu-cta">
            <a href="{{ .Params.cta_link | default .Site.Params.cta_link }}" target="_blank" rel="noopener noreferrer" title="Get Early Bird Pricing">
                 {{ .Params.cta_text | default .Site.Params.cta_text }}
            </a>
        </div>
    </nav>
</header>