{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="container">
  <header class="small wrap text-center">
    <h1 class="huge">{{ .Title }}</h1>
  </header>
  <section class="content wrap">
    <div class="landing-image">
      <img class="hero-image"
      srcset="
      /img/facilitator-cards-stack-625w.jpg 625w,
      /img/facilitator-cards-stack-1250w.jpg 1250w"
      src="/img/facilitator-cards-stack-1250w.jpg"
      alt="A stack of facilitator cards with Magnet Statements top"
      />
    </div>
    <div class="landing-text theme-font medium entry-content">
      {{ .Content }}
    </div>
  </section>
  <section id="get-preview-pack" class="grey-900-bg text-invert text-center flex">
    <div class="preview-pack-image">
      <img class="hero-image"
      srcset="
      /img/fc-preview-pack-cover-200w.jpg 200w,
      /img/fc-preview-pack-cover-400w.jpg 400w,
      /img/fc-preview-pack-cover-600w.jpg 600w,
      /img/fc-preview-pack-cover-800w.jpg 800w"
      src="/img/fc-preview-pack-cover-400w.jpg"
      alt="Facilitator Cards Preview Pack Cover"
      />
    </div>
    <div class="preview-pack-cta">
        {{ with .Params.cta }}<h2 class="theme-font medium">{{ . }}</h2>{{ end }}
        <div class="sign-up big-copy">
            <script async data-uid="70d731ad9e" src="https://hues.ck.page/70d731ad9e/index.js"></script>
        </div>
    </div>
      
  </footer>
</div>
{{ end }}