<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        {{- partial "head.html" . -}}
    </head>
    <body class="{{ with .Kind  }}kind-{{ . }} {{ end }}{{ with .Type }}type-{{ . }} {{ end }}{{ with .Params.category }}cat-{{ . }} {{ end }}">
        {{- partial "header.html" . -}}
        <main id="main">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "social.html" . -}}
        {{- if not (in .Params.type "landing") }}
            {{- partial "footer.html" . -}}
            {{- partial "js.html" . -}}
        {{ end -}}
        <!-- {{- template "_internal/google_analytics.html" . -}} -->
    </body>
</html>
