
/* Links */

a {
    color: #001e1d;
    text-decoration:none;
}

a:visited {
    color: #001e1d;
}

.entry-content a, .entry-content a:visited {
    text-decoration: underline;
    text-decoration-color: $blue;
    transition: all .4s ease-in-out;

    &:hover, &:focus {
        text-decoration-color: $red;
    }
}


.biglink {
    @extend .big-copy;
    background:none;
    font-weight:bold;
    font-family:$theme-font;
    max-width:24em;
    display:inline-block;
    border-bottom: .13em solid $blue;
    text-decoration: none !important;
    transition-duration: .1s !important;

    &:hover {
        color:$blue;
    }
}

/* Buttons */

.button {
    padding:.8em 1.4em;
    background:linear-gradient(to bottom right, $orange, $red);
    color: #000;
    border-radius: .5em;
    display: inline-block;
    box-shadow: .1em .2em .2em 0 hsla(177%, 20%, 26%, .3);
    font-weight:900;
    font-family: $theme-font;
    line-height:1.2;
    text-align:center;
    text-decoration: none;
    transition: all .2s ease-out;

    /* Button Animation */

    &:hover, &:focus {
        transform:translateY(-.2em);
        background:linear-gradient(to bottom right, $red, $orange);
        box-shadow:.1em .4em .6em 0 hsla(177%, 20%, 26%, .2), inset 0 0 1em 0 lighten($orange, 5%);
        cursor: pointer;
        color: white;
        text-shadow:0px 2px 1px hsla(0,0,0,.2);
    }

    &:active {
        background:$red;
        color:black;
    }

    & + .button {
        margin-left:1em;
    }

    &.white-bg {
        background: hsla(0,0,100%, .85);
        color: currentColor;
        &:hover, &:focus {
            color: black;
            text-shadow:none;
            box-shadow:.1em .4em .6em 0 hsla(177%, 20%, 26%, .2), inset 0 0 1em 0 white;
        }
    }

    &.blue {
        background:linear-gradient(to bottom right, $green, $blue);

        &:hover, &:focus {
            box-shadow:.1em .4em .6em 0 hsla(177%, 20%, 26%, .2), inset 0 0 1em 0 lighten($green, 5%);
        }
    }

    &.secondary {
        padding: .2em;

        span {
            display: block;
            padding:.6em 1.2em;
            background: white;
            border-radius: .4em;
            transition: all .2s ease-out;
        }

        &:hover, &:focus {
            span {background: hsla(0,0,100%,0)}
        }
    }

    &.tertiary {
        background:none;
        box-shadow: none;
        color: currentColor;

        &:hover, &:focus {
            color: hsla(0,0,0,1);
            text-shadow: none;
        }
    }
}
