.fci {
    width:1em;
    height:1em;
    display:block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fci-full-group { background-image:url('../img/icons/fcicons-full-group.svg');}
.fci-small-groups { background-image:url('../img/icons/fcicons-small-groups.svg');}
.fci-pairs { background-image:url('../img/icons/fcicons-pairs.svg');}
.fci-individual { background-image:url('../img/icons/fcicons-individual.svg');}
.fci-clarification { background-image:url('../img/icons/fcicons-clarification.svg');}
.fci-custom { background-image:url('../img/icons/fcicons-custom.svg');}
.fci-emotion { background-image:url('../img/icons/fcicons-emotion.svg');}
.fci-execution { background-image:url('../img/icons/fcicons-execution.svg');}
.fci-flipchart { background-image:url('../img/icons/fcicons-flipchart.svg');}
.fci-ideation { background-image:url('../img/icons/fcicons-ideation.svg');}
.fci-markers { background-image:url('../img/icons/fcicons-marker.svg');}
.fci-writing-utensils { background-image:url('../img/icons/fcicons-writing-utensils.svg');}
.fci-sticky-notes { background-image:url('../img/icons/fcicons-sticky-notes.svg');}
.fci-index-cards { background-image:url('../img/icons/fcicons-index-cards.svg');}
.fci-paper { background-image:url('../img/icons/fcicons-paper.svg');}
.fci-colored-paper { background-image:url('../img/icons/fcicons-colored-paper.svg');}
.fci-tape { background-image:url('../img/icons/fcicons-tape.svg');}
.fci-play-doh { background-image:url('../img/icons/fcicons-play-doh.svg');}
.fci-close { background-image:url('../img/icons/fcicons-close.svg');}
.fci-none { background-image:url('../img/icons/fcicons-none.svg');}
.fci-card { background-image:url('../img/icons/fcicons-card.svg');}
.fci-how-to { background-image:url('../img/icons/fcicons-how-to.svg');}
.fci-history { background-image:url('../img/icons/fcicons-history.svg');}
.fci-add { background-image:url('../img/icons/fcicons-add.svg');}
.fci-blog { background-image:url('../img/icons/fcicons-blog.svg');}
