.page-header {
    margin-top: 4vw;
    font-family: $theme-font;
}

.single {
    padding-top: 2em;
}

.content {
    p, h2, h3, h4, ul, ol, blockquote, address, pre, img {
        @extend .type-wrap;
    }

    p:first-of-type {
        @extend .big-copy;
    }

    h2, h3, h4 {
        margin-bottom: 1.5rem;
    }
}

li{
    position: relative;

    & > .svg-icon {
        position: absolute;
        left: -1.5em;
        width: 2em;
        text-align: right;
        transform: translate(-50%,0%);
        background: white;
        margin: 0;
    }
}

/***

    HOME PAGE

***/

#home-hero {
    padding-bottom: 8em;
    margin-bottom: 0;

    .hero-heading h2 {
        margin-top:0;
    }

    .hero-image {
        width: 1000px;
    }

    .cta {
        margin: 1em auto 0;
        position:relative;
        z-index: 3;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;

        .mailing-list {
            margin:0 auto;
        }

        .big-copy {
            margin:0 1em;
        }
    }
}

#tools {
    padding-top: calc(2em + 6vw);
    padding-bottom: 2em;
    margin-bottom: 0;

    h2 {
        margin-top:0;
    }

    .medium, .huge {
        text-shadow: 1px 1px 3px rgba(0,0,0,.7);
    }
}

#resources {
    padding-top: 6em;
    background-position:-150px -120px;
    margin-bottom: 0;

    @include mq('tablet'){
        background-position:-50px -50px;

        .hero-image {
            margin:-2em auto;
            width: 1000px;
        }
    }
}

/***

    CARDS PAGE

***/

#about-the-cards {
    padding:10px;
    margin-bottom: 0;

    @include mq('tablet-wide'){
        padding: 50px;
    }
}

#anatomy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:.8em;
    margin-top: 4em;

    @include mq('desktop') {
        font-size: 1em;
    }

    .anatomy-wrapper {
        padding: 6em;
        float:left;
        position:relative;

        .card {
            margin:0;

            .card-description p {
                font-family: sans-serif;
            }
        }

        &:after {
            position:absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size:cover;
            background-repeat:no-repeat;
            content:'';
        }
    }

    #front-anatomy:after {
        background-image:url('../img/anatomy-front.png');
    }

    #back-anatomy:after {
        background-image:url('../img/anatomy-back.png');
    }
}

#icons-and-colors {
    padding: 1em;

    h3 {
        font-weight: 400;
    }

    .subdivision + .subdivision {
        margin-top: 1em;
    }

    @include mq('tablet'){

        .subdivision {
            display: flex;

            h3 {
                min-width: 22%;
            }

            .flex-list {
                justify-content: flex-start;
            }
        }
    }

    .flex-list {
        margin: 0;
        justify-content: center;

        li {
            margin: .4em;
            padding:.25em .4em;
            border-radius: .5em;

            .fci {
                margin-right: .2em;
            }
        }
    }
}

#more-soon {
    margin-bottom: 0;
}

#single-card {

    .wrap {
        font-size:1.4em;
    }

    h1 {
        margin-top:0;
    }

    .sidebar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin:0 1em 3em;

        @include mq('tablet-wide'){
            margin:0 auto 4em;
        }
    }

    .card-blurb {
        font-size: 1.4em;
        font-family: $theme-font;
        line-height:1.2;
    }

    .card-aside {
        font-size:6px;

        .card:hover {
            transition: .15s all;
            transform:scale(1.5);
        }
    }
}


/***

    LANDING PAGES

***/

.type-landing {
    padding: 0;

    #masthead {
        position: relative !important;
        box-shadow: none !important;
    }

    #main-nav {
        display: none;
    }

   .content {
       margin-bottom: 4vw;

       .landing-text {
           margin-bottom: calc(20px + 4vw);
       }

        @include mq('tablet'){
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;

            .landing-image {
                max-width: 60vw;
            }
            
            padding: 0 8vw 0 4vw;
        }
   }
}

#get-preview-pack {
    
    .preview-pack-image {
        margin: -4vw 0 4vw 4vw;
        min-width: 33vw;
        max-width: 200px;
        img {
            box-shadow: 0px 1em 1.5em -.5em rgba(0,0,0,.7);
        }

        @include mq('phone-wide'){
            min-width: 200px;
            max-width: 300px;
        }
        @include mq('tablet'){
            min-width: 300px;
            max-width: 400px;
        }

        @include mq('tablet-wide'){
            min-width: 380px;
            max-width: 450px;
        }
    }

    .preview-pack-cta {
        display: flex;
        padding: 2vw 4vw 6vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 12px auto ;
        }

        @include mq('tablet'){
            h2 {
                font-size:calc(2.2em + .7vw);
                margin: 0 auto 3vw;
            }
        }
    }

    @include mq('tablet'){ 
        .preview-pack-cta {
            order: 1;
            padding-top: 4vw;
            padding-left: 6vw;
        }
        .preview-pack-image {
            order: 2;
            margin: -6vw 6vw 4vw 2vw;
        }
    }
}

.sign-up {
    width: 100%;

    ul {
        margin: 0;

        li {
            margin: 1em auto;
        }
    }

    .formkit-fields, .formkit-form {
        width: 100%;
    }

    .formkit-field, .formkit-submit{
        margin: 0 auto .5em;
    }
    
    .formkit-input, .formkit-submit {
        display: block;
        text-align: center;
        font-size: 1.2em;
        width: 100%;
        border-radius: .4em;
        padding: .4em;
        background-color: rgba(white, 0.95);
        @extend .theme-font;
        box-shadow: inset 0 .1em .2em 0 rgba(0,0,0,.3);
        border: none;
        line-height: 1.4;
        -webkit-transition: border-color ease-out 300ms;
        transition: border-color ease-out 300ms;
    }

    .formkit-submit {
        @extend .orange-to-red;
        cursor: pointer;
        color: rgba(0,0,0,.75);
        @extend .theme-font;
        font-size: 1.2em;
        font-weight: 900 !important;
        text-transform: uppercase;
        box-shadow: 0 .2em .4em 0 rgba(0,0,0,.3);

        &:hover, &:focus {
            background: $orange;
            color: black;
        }
    }

    @include mq('tablet'){

        .formkit-fields {
            display: flex;
            flex-wrap: wrap;
        }
        .formkit-field {
            flex: 0 0 48%;
        } 

        .formkit-submit {
            width: 98%;
        }
    }

    @include mq('tablet-wide'){

        .formkit-fields {
            flex-wrap: nowrap
        }
        .formkit-field, .formkit-submit{
            flex: 1 1 auto;
            margin: 0 15px 15px 0;
        } 
        
        .formkit-submit {
            width: auto;
            margin-right: 0;
        }
    }
}

.whats-included {
    padding-top: 0;

    h2 {
        margin: 0 auto .5em;
        text-align: center;
        
        span {
            background: white;
            padding: .5rem;
            margin: 0 auto;
            border-radius: .5em;
        }
    }

    ul {
        border: .15em solid $grey-900;
        border-radius: .3em;
        padding: 1.5em 2em;
        margin: -1em 0 0;

        li + li {
            margin-top: 1em;
        }
    }

    @include mq('tablet') {
        padding: 0 6vw 6vw;
    }
}

.formkit-form {
    .formkit-checkboxes {
        label {
            font-size: 13px !important;
        }
    }
}

.formkit-modal {

    .formkit-column {
        padding: 3vw !important;
    }

    .formkit-header {
        font-size: calc(24px + 1.5vw) !important;
        h1 {
            margin: 1vw auto 2vw;
        }
    }

    .formkit-guarantee {
        margin-bottom: 0 !important;
    }
}