
/* Universal Typography */

body {
    line-height:1.44;
    font-size:16px;

    @include mq('tablet') {
        font-size:18px;
    }

    @include mq('desktop') {
        font-size:21px;
    }
}

h1, h2, h3, h4, h5, h6,
.button, .theme-font, .nav, .title{
    font-family:$theme-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:900;
    line-height:1.05;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size:3em;
}

h3 {
    font-size:2.4em;
}

h4 {
    font-size:1.8em;
}


.huge {
    font-size:calc(2.7em + 1.5vw);
}

.big {
    font-size:calc(2.2em + .7vw);
}

.medium {
    font-size:calc(1.4em + .2vw);
}

.big-copy {
    font-size: 1.25em;
}

.theme-font {
    font-family: $theme-font;
    line-height: 1.25;
}

.text-center {
    text-align: center;
}

.type-wrap {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.entry-content ul, .entry-content ol {
    margin:1.5em auto;
    padding:0 0 0 1.5em;
    list-style: none;

    li:before {
        color: $grey-500;
        display:inline-block;
        margin-left:-1.5em;
        width:1.5em;
        font-family:$theme-font;
        font-weight:bold;
        content: "\25CE";
    }

    li + li {
        margin-top:1.2em;
    }
}

.entry-content ol {
    counter-reset: custom-counter;

    li {
        counter-increment: custom-counter;

        &:before {
            content: counter(custom-counter) ". ";
        }

        br {
            line-height:1.7;
        }
    }
}

blockquote, cite {
    font-family: $theme-font;
    color: $grey-700;
    margin-left:auto;
    margin-right:auto;
}
    blockquote {
        font-weight:400;
        padding-left: 1.5em;
        border-left: .25em solid $grey-300;
    }

    cite {
        font-style:normal;
    }


hr {
    display: block;
    height: .25em;
    border: none;
    @extend .doodle-blue;
    margin: 1.5em auto;
    background-size: contain;
    background-position: center;
}
/* Typog Classes */

.dropcap {
    float: left;
    font-family: $theme-font;
    font-weight:900;
    font-size: 4.5em;
    line-height: .8;
    margin-top:.2rem;
    margin-right:.5rem;
    margin-left:.2rem;
}

.lede:first-line {
    font-family: $theme-font;
    font-weight: 900;
    font-size: 1.2em;
    line-height: .8;
}

.small {
    font-size:.8em;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
