body {
    color: #001e1d;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 120px env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

::selection {
    background: $blue;
}

.wrap {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;

    @include mq('tablet-wide'){
        padding-left: 4em;
        padding-right: 4em;
    }
}

.narrow {
    max-width:720px;
    margin-left:auto;
    margin-right:auto;
}

.icon-list {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;

    .icon {
        padding:0;
        width:1em;
        height:1em;
        margin:0;
        display:block;

        svg {
            width:1em;
            height:1em;
        }
    }
}

.hero {
    margin-bottom: 8em;

    .wrap {
        display:flex;
        align-self:stretch;
        justify-content: space-evenly;
        align-items:center;
        flex-direction:column;
        max-width:1200px;
    }

    .hero-heading, p {
        max-width:90vw;
        margin-left:auto;
        margin-right:auto;
    }

    .hero-heading {
        position:relative;
        z-index:2;
        text-align:center;
        .huge {
            margin:1em auto .5em;
        }
    }

    p {
        max-width: 28em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        font-family:$theme-font;
    }
    .cta {
        position:relative;
        z-index:3;
        align-self: center;
        font-family: $theme-font;
    }
}

.hero-image {
    max-width: 100%;
    display:block;
    height: auto;
    margin: 0 auto;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 4em;
    padding: 0;
    list-style:none;

    .flex-list-item {
        padding:4em 4em 0;
        margin: 0;

        &:nth-of-type(even){
            animation: slideInUp 1s ease-out;
        }

        .icon {
            margin:10px;

            svg {
                width:calc(1.6em + 1vw);
                height:calc(1.6em + 1vw);
            }
        }

        h3, h4 {
            margin:10px auto;
        }

        p {
            max-width:16em;
        }

        @include mq('tablet'){
            max-width:50%;
        }
    }
}
