{{ define "main" }}

<!-- hero section -->
<section id="home-hero" class="hero">
    <div class="wrap">
        <div class="hero-heading wow">
            <h2>Cards for you,<br/> not your participants.</h2>
        </div>

    </div>
    <div class="image-bg">
        <img
        srcset="
            /img/fac-cards-mockup-magnet-and-hats-800w.jpg 800w,
            /img/fac-cards-mockup-magnet-and-hats-1600w.jpg 1600w"
        sizes="
            (max-width: 768px) 100vw,
            100vw"
         src="/img/fac-cards-mockup-magnet-and-hats-1600w.jpg"
         alt="Two stacks of facilitator cards with Magnet Statements and Six Thinking Hats on top"
        />
    </div>
    <a href="{{ .Site.Params.email_list }}" title="Join our list." class="cta wow">
        Be the first to know &nearr;
    </a>
</section> <!-- /cards -->

<!-- cta section -->
<!-- <section id="home-cta" class="blue-bg bigpad text-invert">
    <h2>Testing.</h2>
</section> -->

<!-- cards section-->
<section id="home-cards" class="main-carousel">
    {{ range sort ( where .Data.Pages "Section" "cards" ) }}
    <div class="carousel-cell">
        <article class="flip-container ">
            <a class="flipper" href="{{ .Permalink }}">
                {{ partial "card.html" . }}
            </a>
        </article>
    </div>
    {{ end }}
</section> <!-- /cards -->

<!-- hero section -->
<section id="home-gallery" class="hero center-everything">
    <div class="wrap">
        <div class="hero-heading wow">
            <h2>A gallery of resources.</h2>
        </div>
        <div class="hero-blurb">
            <p>
                Every deck comes with facilitation guides, an e-book, files for printing, a set of facilitator icons, and access to a community of facilitators &mdash; and more.
            </p>
        </div>
    </div>
    <div class="image-bg">
        <img src="/img/bg-gallery-cards.svg" title="A Gallery of Facilitator Cards"/>
    </div>
</section> <!-- /cards -->

{{ end }}
