{{ define "main" }}


<!-- hero section -->
<section id="home-hero" class="hero center-everything">
    <div class="wrap">
        <div class="hero-heading">
            <h2>Cards for you,<br/> not your participants.</h2>
        </div>
        <!-- <a href="https://mailchimp.com" title="Where do I sign up?" class="button cta">
            Sign up.
        </a> -->
    </div>
    <div class="image-bg">
        <img src="/img/bg-card-planning.svg" title="A Gallery of Facilitator Cards"/>
    </div>
</section> <!-- /cards -->

<!-- cta section -->
<!-- <section id="home-cta" class="blue-bg bigpad text-invert">
    <h2>Testing.</h2>
</section> -->

<!-- cards section-->
<section id="home-cards" class="main-carousel">
    {{ range sort ( where .Data.Pages "Section" "cards" ) }}
    <div class="carousel-cell">
        <article class="flip-container ">
            <a class="flipper" href="{{ .Permalink }}">
                {{ partial "card.html" . }}
            </a>
        </article>
    </div>
    {{ end }}
</section> <!-- /cards -->

<!-- hero section -->
<section id="home-gallery" class="hero center-everything">
    <div class="wrap">
        <div class="hero-heading">
            <h2>A gallery of resources.</h2>
        </div>
        <div class="hero-blurb">
            <p>
                Every deck comes with facilitation guides, an e-book, files for printing, a set of facilitator icons, and access to a community of facilitators &mdash; and more.
            </p>
        </div>
        <!-- <a href="https://mailchimp.com" title="Where do I sign up?" class="button cta">
            Sign up.
        </a> -->
    </div>
    <div class="image-bg">
        <img src="/img/bg-gallery-cards.svg" title="A Gallery of Facilitator Cards"/>
    </div>
</section> <!-- /cards -->

{{ end }}
