{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section id="single-card" class="single grid wrap">
    <aside class="sidebar wow">
        <div class="sticky">
            {{ partial "card.html" . }}
        </div>
    </aside>
    <main class="content">
        <header>
            <h1>{{ .Title }}</h1>
            <p class="card-blurb">{{ .Params.explanation }}</p>
        </header>
        <div class="content entry-content">
        <!-- {{ if .Params.general_notes }}
            <h2>General Notes</h2>
            {{- $markdown := .Params.general_notes | markdownify -}}
            {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
        {{ end }} -->
        {{ if .Params.zooming }}
            <h2>Virtual Facilitation</h2>
            <p>In our <a href="https://virtual.facilitator.cards" target="_blank" rel="noopener noreferrer">Virtual Facilitation Guide</a>, we have activities that provide you with step-by-step instructions and everything you need to facilitate {{ .Title }} in a virtual meeting using Zoom or a platform with similar features.</p>
            <p>
                <a class="biglink" href="{{ .Params.zooming }}" target="_blank" rel="noopener noreferrer">Browse {{ .Title }} Virtual Activities &rarr;</a>
            </p>
        {{ end }}
        </div>

    </main>
    <aside class="card-aside meta flex flex-col">
    
    </aside>
   

</section>
{{ end }}